@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #080308;
  --foreground: #171717;
  --primary: #273184;
  --secondary: #0b0a14;
  --gray: #a1a1a1;
  --dark-blue: #05173b;
  --light-pink: #FFBCFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080308;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
